
$dark_blue: #0099ff;
$light_blue: #a2d9ff;
$white_color: #fff;

$drk-lg-background: linear-gradient(to left, $dark_blue, $light_blue);
// $carousel-indicator-width:70px;

*{
        margin: 0 ;
        padding: 0 ;
    
    }

body{
        font-family: sans-serif;
        p, h1, h2, h3, h4, h5{
            color: $white_color;
        }
        a{color: $white_color;
        text-decoration: none;}
        }
#nav-bar{
        position: sticky;
        top: 0;
        z-index: 10;
        }
.navbar{
        background-image: $drk-lg-background;
        padding: 0 ;
        }

.navbar-nav{
    background-image: $drk-lg-background;
    padding: 0 ;
    border-radius: 8px;
}
.navbar-nav{
    li{
        padding: 0 10px;
    }
    a{
        font-weight: 600;
        float: right;
        text-align: left;
    }
    
}
.navbar-brand img{
        height: 40px;
        width: 50px;
        padding-left: 20px;
    }

.navbar-toggler{
        outline: none ;
        }

#banner{
        background-image: $drk-lg-background;
        
        a{
            text-decoration: none;
            
            font-weight: bold;
        }
}

.aboutMe{
    font-size: 40px;
    font-weight: 600px;
    margin-top: 150px;
}
#smaller_logo{
    height: 40px;
    width: 50px;
    display: inline-block;
}

.col-md-6{
text-align: center;
img{
    text-align: right;

}
}

.bottom-img{
    width: 100%;
}


.anime-names{
    background-color: $dark_blue;
    padding: 60px;
    
    
}
.carousel{
background-image: $drk-lg-background;
padding: 10vh;
}

.frijol_section{
    background-color: $light_blue;
    padding: 70px;
    

    
}
.img-fluid{
    width: 20%;
    height: 20%;
    text-align: right;
}


.footer_sec{
    background-image: $drk-lg-background;
    padding: 70px;
    footer{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    #instagram-footer{
        justify-content: right;
        padding-left: 700px;
        flex-wrap: wrap;
        }
}

.carousel-inner{
max-width: 450px;
width: 100%;
margin: auto;


}
.fun-fact{
    margin-bottom: 0;
}
.cont_anime{
    background-image: $drk-lg-background;
}
.who_am_i{
    background-color: $light_blue;
}
.carousel-bkg{
    background-image: $drk-lg-background;
}
.frijol_sec{
    background-image: $drk-lg-background;


}

#me_and_frijol{
width: 30%;
height: 30%;
display: inline-block;
}


.row{
    width: 100%;
    img{
        padding-left: 100px;
        min-width: 50%; 
    }
}