
$dark_blue: #0099ff;
$light_blue: #a2d9ff;
$white_color: #fff;

$drk-lg-background: linear-gradient(to left, $dark_blue, $light_blue);


*{
        margin: 0 ;
        padding: 0 ;
    
    }

body{
        font-family: sans-serif;
        p, h1, h2, h3, h4, h5, h6{
            color: $white_color;
            
        }
        a{color: $white_color;
        text-decoration: none;
    }

// START nav bar section 
        }
#nav-bar{
        position: sticky;
        top: 0;
        z-index: 10;
        }
.navbar{
        background-image: $drk-lg-background;
        padding: 0 ;
        }

.navbar-nav{
    background-image: $drk-lg-background;
    padding: 0 ;
    border-radius: 8px;
}
.navbar-nav{
    li{
        padding: 0 10px;
    }
    a{
        font-weight: 600;
        float: right;
        text-align: left;
        color: $white_color;
    }
    
}
.navbar-brand img{
        height: 40px;
        width: 50px;
        padding-left: 20px;
        
    }

.navbar-toggler{
        outline: none ;
        
        }

// END navbar section 



// START Banner section 
#me_and_frijol{       
    width: 45%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    }
#banner{
        background-image: $drk-lg-background;
        
        a{
            text-decoration: none;
            
            font-weight: bold;
        }
}

.aboutMe{
    font-size: 40px;
    font-weight: 600px;
    margin-top: 150px;
}
.bottom-img{
    width: 100%;
}

.col-md-6{
text-align: center;
img{
    text-align: right;

}
}
// END Banner section 

// START Carousel section 
.carousel{
background-image: $drk-lg-background;
padding: 10vh;
}

.carousel-inner{
max-width: 450px;
width: 100%;
margin: auto;
}

.carousel-bkg{
    background-image: $drk-lg-background;
}

// END Carousel section 

// START Anime ssection 
.fun-fact{
    margin-bottom: 0;
}
.cont_anime{
    background-image: $drk-lg-background;
}

.anime-names{
    background-color: $dark_blue;
    padding: 60px;
}
// END Anime section 

// START who am I section 
.who_am_i{
    background-color: $light_blue;
    .my_background{
        padding: 60px;
        text-align: right;
    }
    
}
// END who am i section 





// frijol section 
.frijol_sec{
    background-color: $light_blue;
        display: flex;
        flex-wrap: wrap;

        .frijol_section{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 70px 0 70px;
            div{
                width: 50%;
            }
            
            .img-fluid{
                text-align: right;
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                width: 20%;
                
                
            }
        }
}


// footer section 
.footer_sec{
    background-image: $drk-lg-background;
    padding: 70px;
    footer{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}
